.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  width: 40rem;
  & > div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.personalInformation .inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.emergencyContact .inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.ARS .inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}