.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 40rem;
    padding: 6px 12px;
    width: 100%;
    transition: ease-in 0.2s;
    border-radius: 5px;
    user-select: none;
}
.infoContainer h2 {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
